# Build output
/lark-cli
.cache/
dist/
bin/

# Node
node_modules/


# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Go
docs/ref
docs/*
!docs/racing/
!docs/racing/**
!docs/index.html
!docs/video-creation-reference/
!docs/video-creation-reference/**
vendor/


#test
test_scripts/
tests/mail/reports/

/log/
